.myeclipse/
.settings/
build/
WebRoot/WEB-INF/classes/
.classpath
.mymetadata
.myumldata
.project
*.class
target/
/.externalToolBuilders/
/resources/db.properties
.metadata
Servers
.idea
out
shinyPlatform.iml
Test.java
logback-test.xml
jarupload.iml